definitions:
  schema.CreateOrder:
    properties:
      orderName:
        type: string
      price:
        type: number
      quantity:
        type: integer
      userID:
        type: string
    required:
    - orderName
    - price
    - quantity
    - userID
    type: object
  schema.ErrorDetail:
    properties:
      code:
        type: string
      details:
        type: string
      message:
        type: string
    type: object
  schema.ErrorResponseSchema:
    properties:
      error:
        $ref: '#/definitions/schema.ErrorDetail'
      success:
        type: boolean
    type: object
  schema.OrderUpdate:
    properties:
      order_name:
        type: string
      price:
        type: number
      quantity:
        type: integer
      status:
        type: string
    required:
    - price
    type: object
  schema.SuccessResponseSchema:
    properties:
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
host: localhost:8082
info:
  contact: {}
  description: This API manages orders.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Orders API
  version: "1.0"
paths:
  /orders:
    get:
      description: Returns a list of all orders in the system
      produces:
      - application/json
      responses:
        "200":
          description: Order lists from the database
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "404":
          description: Order list is empty in the database
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: List all orders
      tags:
      - orders
    post:
      consumes:
      - application/json
      description: Creates a new order for a user with the provided order data
      parameters:
      - description: Order payload
        in: body
        name: order
        required: true
        schema:
          $ref: '#/definitions/schema.CreateOrder'
      produces:
      - application/json
      responses:
        "201":
          description: Order created successfully
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: Invalid order details
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "500":
          description: Unknow error occured in the server
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Create a new order
      tags:
      - orders
  /orders/{id}:
    get:
      description: Returns details of a specific order by its ID
      parameters:
      - description: Order ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 'Order details associated with orderID: '
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: Order Id is missing
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "404":
          description: Order details not found
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Get order by ID
      tags:
      - orders
    put:
      consumes:
      - application/json
      description: Updates the details of a specific order by its ID
      parameters:
      - description: Order ID
        in: path
        name: id
        required: true
        type: string
      - description: Updated order payload
        in: body
        name: order
        required: true
        schema:
          $ref: '#/definitions/schema.OrderUpdate'
      produces:
      - application/json
      responses:
        "200":
          description: Order updated successfully
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: Invalid Order ID or order payload
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "404":
          description: Order not found
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Update an existing order
      tags:
      - orders
  /users/{id}/orders:
    get:
      description: Returns a list of orders associated with a specific user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 'Order details associated with userID: '
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: UserId is invalid or missing!!
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "404":
          description: 'Order details didnot found with userID: '
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Get all orders for a user
      tags:
      - orders
schemes:
- http
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
